@model Upwork.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requierments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requierments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimultaneousProjects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimultaneousProjects)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freelancer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freelancer.FreelancerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
