@model List<Client>
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="clearfix"></div>
<div class="col-div-12">
    <div>
        <div class="content-box">
            <p> Clients </p>
            <br />
            <table>
                <tr>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Country </th>
                    <th> Number of projects </th>
                    <th> Number of Jobs </th>
                    <th> Details </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.User.FirstName @item.User.LastName </td>
                        <td> @item.User.Email </td>
                        <td> @item.User.Country.Name </td>
                        <td> @item.client_Projects.Count() </td>
                        <td> @item.Jobs.Count() </td>
                        <td>
                            <a asp-action="ClientDetails" asp-route-id="@item.ClientId" asp-controller="Admin" style="cursor:pointer">
                                <span style="font-size:20px" class="fa fa-info-circle text-info"></span>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
