@model List<Freelancer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-div-3">
    <div class="box">
        <p> @ViewBag.Freelancers <br /><span> Freelancers </span></p>
        <i class="fa fa-users box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p> @ViewBag.Clients <br /><span> Clients </span></p>
        <i class="fa fa-users box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p> @ViewBag.Projects <br /><span> Projects </span></p>
        <i class="fa fa-list box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p> @ViewBag.Jobs <br /><span> Jobs </span></p>
        <i class="fa fa-shopping-bag box-icon"></i>
    </div>
</div>

@* Table section *@

<div class="clearfix"></div>
<br />
<br />
<div class="col-div-12">
    <div>
        <div class="content-box">

            <p> Freelancers </p>
            <br />
            <table>
                <tr>
                    <th>Name</th>
                    <th>Experience Level</th>
                    <th>
                        Number of Jobs hired
                    </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> Country </th>
                </tr>
               @foreach (var item in Model)
               {
                   <tr>
                       <td> @item.User.FirstName @item.User.LastName </td>
                       <td> @item.ExperienceLevel </td>
                       <td> @item.Freelancer_Jobs.Where(a=>a.IsHire == true).Count() </td>
                       <td> @item.User.Email </td>
                       <td> +@item.PhoneCountry.Key@item.PhoneNumber </td>
                       <td> @item.User.Country.Name </td>
                   </tr>
               }


            </table>
        </div>
    </div>
</div>
