@model IEnumerable<Upwork.Models.DbModels.Jobs>
@{
    ViewData["Title"] = "Freelancer Home ";
}
@section Style {
    <link href="~/css/FreelanceHomePage.css" rel="stylesheet" />
}
<div class="container">
    <div class="row mb-4 mt-0 mx-0 p-0">
        <div class="col-3 col-lg-2 text-left p-0 m-0 mt-5">
            <h3 style="color: #1d4354; font:  bold 25px Rza;">Find Work</h3>
        </div>
        <!--Search form-->
        <div class="col-9 col-lg-7 mx-auto p-0 mt-5">
            <form method="post" asp-action="SearchForJob" asp-controller="Freelancers">
                <div class="input-group mx-auto" style="width: 93%;">
                    <input type="text" class="form-control " name="search" placeholder="Search for jobs" required>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--end Search form-->
        <div class="d-none d-lg-block col-lg-3 mt-5">
        </div>
    </div>

    <div class="row my-5 mx-0 p-0">
        <!--left aside-->
        <div class="d-none d-md-block col-md-2 text-left p-0 m-0">

            <form method="post" class="my-4">
                <div class="radio-group">
                    <div class="row">
                        <div class="col-12 radioBox mb-1">
                            <label for="allJobs" class="col-12 p-0 mb-0">
                                <div class="mb-0">
                                    <div class="text-left mb-0">
                                        <input type="radio" id="allJobs" name="filterJobs" checked />
                                        <span class="checkround"></span>
                                        <p class="ml-4" style="font-weight: 630px;">My Feed</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </form>


            <div class="">
                <h5>
                    My Categories
                </h5>
                <p class="text-success">
                    @ViewBag.Freelancer.Category.Name
                </p>
            </div>
        </div>
        <!--end left aside-->
        <!--content-->
        <div class="col-12 col-md-10 col-lg-7 text-center m-0 p-0">

            <div class="card mr-4 ml-3 mb-5">
                <div class="card-header bg-white">
                    <div class="row p-2 " style="display:-webkit-box; -webkit-box-align:center; ">
                        <div class="col-8 text-left m-0 ">
                            <h5 style="color: black;font-size: 22px;font-weight: 500;">My Feed</h5>
                        </div>
                        
                    </div>
                </div>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="card-body jobs">
                            <div class=" my-2 mx-2">
                                <div class="row" style="display:-webkit-box; -webkit-box-align:center; ">
                                    <div class="col-9 text-left m-0 ">
                                        <a asp-action="JobDetails" asp-controller="Freelancers" asp-route-Id="@item.Id">@item.Title </a>
                                    </div>
                                    <div class="col-3 text-right">
                                        <a>
                                            @foreach (var Jobs in item.freelancer_Jobs)
                                            {
                                                if (Jobs.IsSaved == true && Jobs.FreelancerId == ViewBag.Freelancer.FreelancerId)
                                                {
                                                    <div onclick="saveJob(@item.Id,this)" class="circlee-like">
                                                        <i class="fa fa-heart 2x" style="color:rgb(83, 83, 83) ;"></i>
                                                    </div>
                                                }
                                                else if (Jobs.IsSaved == false && Jobs.FreelancerId == ViewBag.Freelancer.FreelancerId)
                                                {
                                                    <div onclick="saveJob(@item.Id,this)" class="circlee-like">
                                                        <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;"></i>
                                                    </div>
                                                }

                                            }
                                            @if (item.freelancer_Jobs.FirstOrDefault(a => a.JobsId == item.Id && a.FreelancerId == ViewBag.Freelancer.FreelancerId) == null)
                                            {
                                                <div onclick="saveJob(@item.Id,this)" class="circlee-like">
                                                    <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;"></i>
                                                </div>
                                            }
                                        </a>
                                        <div class="circlee-dislike container-freelancer">
                                            <a onclick="DislikeJob(@item.Id,this)"> <i class="fa fa-thumbs-o-down 2x" style="color:rgb(83, 83, 83) ;"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            


                            <div class="my-3">
                                <div class="row mx-2">
                                    <div class="lightFont">
                                        @if (item.TypeOfBudget == true)
                                        {<span>Fixed Price- Est.Budget:@item.BudgetFrom</span>}
                                    else
                                    { <span>Hourly:@item.BudgetFrom $ : @item.BudgetTo $</span>}  - @item.LevelOfExperience  - Posted @item.CreateDate;
                                </div>
                            </div>
                            <div class="row mx-2 my-1">
                                <div class="jobDescription p-0 m-0 text-left">
                                    @item.JobDescription
                                </div>
                            </div>
                            <div class="row mx-0 my-3">
                                <div class="text-left">
                                   @foreach(var skill in item.jobsSkills.Where(a => a.JobsId == item.Id).Select(a => a.skill))
                    {
                                    <div class="jobSkills py-1 px-2 m-1">@skill.Name</div>
                    }

                                   
                                </div>

                            </div>

                            <div class="row mx-2 my-2">
                                <div class="lightFont">
                                    Proposals : <span style="display:inline-block ;font-weight: 500;">@item.freelancer_Jobs.Where(a => a.JobsId == item.Id && a.IsProposal == true).Count()</span>
                                </div>
                            </div>

                            @*<div class="row  mx-1 my-3 p-0">
                                <div class="col-12 col-md-11 m-0 p-0">
                                    <div class="row m-0" style="display:-webkit-box; -webkit-box-align:center; ">

                                       
                                        <div class="col-2 m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; ">

                                            <i class="fa fa-map-marker mr-1" aria-hidden="true" style="color: black;"></i>
                                            <p class="lightFont my-auto">
                                                Egypt
                                            </p>
                                        </div>

                                    </div>

                                </div>


                            </div>*@
                        </div>

                    </div>
                }
                }
                else
                {
                    <div class="row m-0 p-0 mt-3">
                        <div class="col-9 m-auto p-2">
                            <img src="~/Images/noJobs.PNG" class="img-fluid" />
                            <h5 class="text-center" style="color: #656565;">No Job Matched</h5>
                        </div>
                    </div>
                }
            </div>





        </div>
        <!--end content-->
        <!--Right aside-->
        <div class="d-none d-lg-block col-lg-3">
            <div class="row">
                <div class="m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; ">
                    <img src="~/ProfilePhotos/@ViewBag.Freelancer.Image" class="imgContainer" alt="Profile Photo" />
                    <h6 class="ml-2"> My Profile</h6>
                </div>
            </div>
            <div class="row toProfile mt-3" style="display:-webkit-box; -webkit-box-align:center; ">
                <i class="fa fa-eye mx-2" aria-hidden="true"></i>
                <a asp-action="profile" asp-controller="freelancers" asp-route-id="@ViewBag.Freelancer.FreelancerId">View Profile</a>
            </div>
           
            <div class="my-4 mx-0">
                <div class="mx-0 my-0">
                    <p style="font-weight: 600;" class="mb-1">Your Project Catalog</p>
                </div>
                <div class="row toProfile mx-0" style="display:-webkit-box; -webkit-box-align:center; ">
                    <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i>
                    <a asp-action="Index" asp-controller="Projects">My Project Dashboard</a>
                </div>
            </div>

            <div class="my-4 mx-0">
                <div class="mx-0 my-0">
                    <p style="font-weight: 600;" class="mb-1">Proposals</p>
                </div>
                <div class="row toProfile mx-0" style="display:-webkit-box; -webkit-box-align:center; ">
                    <a asp-controller="Freelancers" asp-action="AllProposal">@ViewBag.Proposals submitted proposal</a>
                </div>
            </div>




        </div>
        <!--End Right aside-->
    </div>
</div>

@section Scripts {
    <script>
        function rate(id, Rate) {
            console.log(id, Rate);
            $.ajax({
                url: "https://localhost:44367/Client/JobRate/" + id + Rate,
                type: "GET",
                success: (res) => {
                    console.log(`success` , res);
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }

        function saveJob(Id, e) {
            console.log($(e).children()[0].classList.contains('fa-heart-o'));
            if ($(e).children()[0].classList.contains('fa-heart-o')) {
                $.ajax({
                    url: "https://localhost:44367/Freelancers/SaveJob/" + Id + "",
                    type: "GET",
                    success: (res) => {
                        $(e).children()[0].classList.remove('fa-heart-o');
                        $(e).children()[0].classList.add('fa-heart');
                    },
                    error: (e) => {
                        console.log(e);
                    }
                })
            }else {
                $.ajax({
                    url: "https://localhost:44367/Freelancers/UnSaveJob/" + Id + "",
                    type: "GET",
                    success: (res) => {
                        $(e).children()[0].classList.remove('fa-heart');
                        $(e).children()[0].classList.add('fa-heart-o');
                    },
                    error: (e) => {
                        console.log(e);
                    }
                })
            }
        }
        function DislikeJob(id, e) {
            $.ajax({
                url: "https://localhost:44367/Freelancers/DislikeJob/" + id,
                type: "GET",
                success: () => {
                    $(e).parent().parent().parent().parent().parent().remove();
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }
    </script>
}
