@model IEnumerable<Upwork.Models.DbModels.Freelancer_Job>

@{
    ViewData["Title"] = "Saved Jobs";
    Layout = "~/Views/Shared/_FreelanceLayout.cshtml";
}

@section Style {
    <link href="~/css/IndexProject.css" rel="stylesheet" />
    <link href="~/css/FreelanceHomePage.css" rel="stylesheet" />
}

<div class="container">
    <div id="Project-list" class="wrapper">
        <div class="container">
            <div class="wrapper">
                <!--Head-->
                <div class="row border-bottom pb-4 pt-2">
                    <div class="container">
                        <h4>Saved Project</h4>
                    </div>
                </div>
                <!--end head-->

                    @if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="card-body jobs">
                                <div class=" my-2 mx-2">
                                    <div class="row" style="display:-webkit-box; -webkit-box-align:center; ">
                                        <div class="col-9 text-left m-0 ">
                                            <a asp-action="JobDetails" asp-controller="Freelancers" asp-route-Id="@item.JobsId">@item.Jobs.Title </a>
                                        </div>
                                        <div class="col-3 text-center">
                                            <a>
                                                <div onclick="unSaveJob(@item.Jobs.Id,this)" class="circlee-like">
                                                    <i class="fa fa-heart 2x" style="color:rgb(83, 83, 83) ;"></i>
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                </div>




                                <div class="my-3">
                                    <div class="row mx-2">
                                        <div class="lightFont">
                                            @if (item.Jobs.TypeOfBudget == true)
                                            {<span>Fixed Price- Est.Budget:@item.Jobs.BudgetFrom</span>}
                                        else
                                        { <span>Hourly:@item.Jobs.BudgetFrom $ : @item.Jobs.BudgetTo $</span>}  - @item.Jobs.LevelOfExperience  - Posted @item.Jobs.CreateDate
                                    </div>
                                </div>
                                <div class="row mx-2 my-1">
                                    <div class="jobDescription p-0 m-0 text-left">
                                        @item.Jobs.JobDescription
                                    </div>
                                </div>
                                <div class="row mx-2 my-3">
                                    <div class="skills">
                                        <div style="display:inline-flex;">

                                            @foreach (var Skill in ViewBag.Skills)
                                            {
                                                    @if (Skill.JobsId == item.JobsId)
                                                    {


                                                            <div class="jobSkills px-2 py-1 mr-2">@Skill.skill.Name</div>
                                                     }
                                             }
                                        </div>
                                    </div>

                                </div>

                                <div class="row mx-2 my-2">
                                    <div class="lightFont">
                                        Proposals : <span style="display:inline-block ;font-weight: 500;">@Model.Where(a=> a.IsProposal == true && a.JobsId == item.JobsId).Count()</span>
                                    </div>
                                </div>

                                <div class="row  mx-1 my-3 p-0">
                                    <div class="col-12 col-md-11 m-0 p-0">
                                        <div class="row m-0" style="display:-webkit-box; -webkit-box-align:center; ">


                                            <div class="col-4 col-md-3 m-0 p-0 mr-1" style="display:-webkit-box; -webkit-box-align:center; ">
                                                <i class="fa fa-check-circle mr-1" style="color: #1f57c3; display: inline-block;" aria-hidden="true"></i>
                                                <p class="lightFont my-auto">
                                                    Payment verified
                                                </p>
                                            </div>
                                            <div class="col-3 m-0 p-0">
                                                <p class="lightFont my-auto">$60k+ spent</p>
                                            </div>
                                            <div class="col-2 m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; ">

                                                <i class="fa fa-map-marker mr-1" aria-hidden="true" style="color: black;"></i>
                                                <p class="lightFont my-auto">
                                                    Egypt
                                                </p>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    }
                    }
                    else
                    {
                        <div class="row m-0 p-0  mt-3 text-center">
                            <div class="col-10 m-auto p-2 ">
                                <img src="~/Images/Saved.PNG" class="img-fluid" />
                                <h5 class="text-center" style="color: #656565;">Keep track of jobs you're interested in. Select the heart icon on a job post to save it for later.</h5>
                            </div>
                        </div>
                    }

            </div>
        </div>
    </div>
</div>


@section Scripts{ 
    <script>
        function unSaveJob(Id, e) {
            console.log(Id);
            $.ajax({
                url: "https://localhost:44367/Freelancers/UnSaveJob/" + Id + "",
                type: "GET",
                success: (res) => {
                    location.reload();
                },
                error: (e) => {
                    console.log(e);
                }
            })
        }
    </script>

}