@model IEnumerable<Upwork.Models.DbModels.Jobs>

@{
    ViewData["Title"] = "SearchForJob";
    Layout = "~/Views/Shared/_FreelanceLayout.cshtml";
}
@section Style {
    <link href="~/css/FreelanceHomePage.css" rel="stylesheet" />
}
<div class="container">
    <div class="row mt-0 mx-0 p-0 py-4 justify-content-center">
        <!--left aside-->
        @*<div class="d-none d-md-block col-md-3">
            <p class="aside-head" style="font-size: 1.3rem; font-weight: 500;">Filter By:</p>
        </div>*@
        <!--End left aside-->
        <!--Project list-->
        <div class="col-md-9 col-12 p-0 mx-0">
            <div class="wrapper" style="background-color:#fff;">
                <div id="search-form">
                    <div class="container">
                        <div class="row py-4 mt-0 mx-0 px-0">
                            <!--Search form-->
                            <div class="col-9 p-0">
                                <form method="post" asp-action="SearchForJob" asp-controller="Freelancers">
                                    <div class="input-group">
                                        <input type="text" class="form-control " name="search" placeholder="Search for jobs" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--end Search form-->
                            <div class="col-3">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project list-->

                @foreach (var item in Model)
                {
                    <div class="card-body jobs">
                        <div class="container">
                            <div class=" my-2 mx-2">
                                <div class="row" style="display:-webkit-box; -webkit-box-align:center; ">
                                    <div class="col-9 text-left m-0 ">
                                        <a href=""><b>@item.Title </b> </a>
                                    </div>
                                    <div class="col-3 text-right">

                                        <div class="circlee-like">
                                            <i class="fa fa-heart-o 2x" style="color:rgb(83, 83, 83) ;"></i>
                                        </div>
                                        <div class="circlee-dislike container-freelancer">
                                            <i class="fa fa-thumbs-o-down 2x" style="color:rgb(83, 83, 83) ;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="row mx-2">
                                    <div class="lightFont">
                                        @if (item.TypeOfBudget == true)
                                        {<span>Fixed Price- Est.Budget:@item.BudgetFrom</span>}
                                    else
                                    { <span>Hourly:@item.BudgetFrom $ : @item.BudgetTo $</span>}  - @item.LevelOfExperience  - Posted @item.CreateDate.ToString();
                                </div>
                            </div>
                            <div class="row mx-2 my-1">
                                <div class="jobDescription p-0 m-0 text-left">
                                    @item.JobDescription
                                </div>
                            </div>
                            <div class="row mx-2 my-3">
                                <div class="skills">
                                    <div style="display:inline-flex;">

                                        @foreach (var skill in item.jobsSkills)
                                        {
                                            @foreach (var jobskill in ViewBag.Skills)
                                            {
                                                @if (jobskill.SkillId == skill.skillId)
                                                {
                                                    <div class="jobSkills px-2 py-1 mr-2">@jobskill.Name</div>
                                                }

                                            }
                                        }
                                        
                                    </div>
                                </div>

                            </div>

                            <div class="row mx-2 my-2">
                                <div class="lightFont">
                                    Proposals : <span style="display:inline-block ;font-weight: 500;">Less than 5</span>
                                </div>
                            </div>

                            <div class="row  mx-1 my-3 p-0">
                                <div class="col-12 col-md-11 m-0 p-0">
                                    <div class="row m-0" style="display:-webkit-box; -webkit-box-align:center; ">


                                        <div class="col-4 col-md-3 m-0 p-0 mr-1" style="display:-webkit-box; -webkit-box-align:center; ">
                                            <i class="fa fa-check-circle mr-1" style="color: #1f57c3; display: inline-block;" aria-hidden="true"></i>
                                            <p class="lightFont my-auto">
                                                Payment verified
                                            </p>
                                        </div>
                                        <div class="col-4 col-md-3 m-0 p-0">
                                            <div style="color: grey;">
                                                <i class="fa fa-star checked mx-0 px-0" aria-hidden="true"></i>
                                                <i class="fa fa-star checked mx-0 px-0" aria-hidden="true"></i>
                                                <i class="fa fa-star checked mx-0 px-0" aria-hidden="true"></i>
                                                <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
                                                <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col-3 m-0 p-0">
                                            <p class="lightFont my-auto">$60k+ spent</p>
                                        </div>
                                        <div class="col-2 m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; ">

                                            <i class="fa fa-map-marker mr-1" aria-hidden="true" style="color: black;"></i>
                                            <p class="lightFont my-auto">
                                                Egypt
                                            </p>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            }

                <!--End Project list-->
            </div>
        </div>
        <!--End Project list-->
    </div>
</div>

