@model List<Jobs>

@{
    ViewData["Title"] = "All Job Posts";
    ViewData["UserName"] = ViewBag.username;
    Layout = "_ClientLayout";
}
@section Style{
    <link href="~/css/AllJobPosts.css" rel="stylesheet" />
}


<div class="text-center">
    <div class="container">
        <div class="row mx-3" style="display:-webkit-box; -webkit-box-align:center;">
            <div class="col-5 my-5 " style="display:-webkit-box; -webkit-box-align:center;">
                <div class="container m-0 p-0">
                    <div class="row  text-left">

                        <a href="#" class="mx-2">My jobs </a>
                        <p style="display: inline-block;"> / Job postings</p>

                    </div>
                </div>
            </div>

            <div class="col-7 text-right my-5">
                <div class="col-7 text-center text-light px-3 py-2 devBtnGreen"
                     style="display: inline-block; width: auto; height:auto;">
                    <a asp-action="PostJob" class="m-0 p-0"> Post a New Job </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-2 mb-4">
        <div class="row m-0">
            <div class="col-12 m-auto">
                <div class="card mx-3 mb-5 mt-2">
                    <div class="card-header bg-white">
                        <div class="row" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                            <div class="col-7 text-left">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search job postings">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button" id="searchButton">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var job in Model)
                    {
                        if (job.IsDraft == true)
                        {
                            <div class="myDrafts py-3 px-4">
                                <div class="row m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                                    <div class="col-8 text-left ">
                                        <a class="braek" asp-action="EditJob" asp-route-id="@job.Id">@job.Title</a>
                                        <p class="text-muted">Created @job.CreateDate</p>
                                    </div>
                                    <div class="col-4">
                                        <div class="row m-0">
                                            <div class="col-9 text-right">
                                                <div class="text-light text-center px-3 py-2 devBtnGreen m-0" style=" width:fit-content ; height: auto; display: inline-block;">
                                                    <a class="m-0 p-0 text-white" asp-action="EditJob" asp-route-id="@job.Id">Edit Draft </a>
                                                </div>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="m-0 text-right dropdown">
                                                    <div class="circlee-points container-circleeAlljobs" data-toggle="dropdown"
                                                         aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h 2x " style="color:rgb(83, 83, 83) ;"></i>
                                                    </div>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-action="EditJob" asp-route-id="@job.Id">Edit Draft</a>
                                                        <a class="dropdown-item" asp-action="DeleteJob" asp-route-id="@job.Id">Remove Draft</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 p-0 mt-3" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                                    <div class="col-5 text-left ml-1 mt-1">
                                        <p style="font-size: 15px;">Draft - Saved @job.DraftSavedDate</p>
                                    </div>


                                </div>
                            </div>
                        }
                        else if (job.IsDraft == false)
                        {
                            <div class="myDrafts py-3 px-4">
                                <div class="row m-0 p-0" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                                    <div class="col-8 text-left ">
                                        <a class="braek" asp-action="JobDetails" asp-route-id="@job.Id">@job.Title</a>
                                        <p class="text-muted">Created @job.CreateDate</p>
                                    </div>
                                    <div class="col-4">
                                        <div class="row m-0">
                                            <div class="col-9 text-right">
                                                <div class="text-light text-center px-3 py-2 devBtnGreen m-0" style=" width:fit-content ; height: auto; display: inline-block;">
                                                    <a class="m-0 p-0 text-white" asp-action="PostJobTitle" asp-route-id="@job.Id"> Reuse posting </a>
                                                </div>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="m-0 text-right dropdown">
                                                    <div class=" circlee-points container-circleeAlljobs " data-toggle="dropdown"
                                                         aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h 2x " style="color:rgb(83, 83, 83) ;"></i>
                                                    </div>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-action="PostJobTitle" asp-route-id="@job.Id">Reuse Posting</a>
                                                        <a class="dropdown-item" asp-action="JobDetails" asp-route-id="@job.Id">View posting</a>
                                                        @if (job.IsCanceled == false)
                                                        {
                                                            <a class="dropdown-item" asp-action="CloseJop" asp-route-id="@job.Id">Remove posting</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 p-0 mt-3" style="display:-webkit-box; -webkit-box-align:center; margin: 15px; ">
                                    <div class="col-5 text-left ml-1 mt-1">
                                        @if (job.IsCanceled == true)
                                        {
                                            <p style="font-size: 15px;">Closed - @job.JobClosedDate</p>
                                        }
                                    </div>
                                    @if (job.freelancer_Jobs.Where(a => a.IsProposal == true).Count() > 0)
                                    {


                                        <div class="col-2 mr-1">
                                            <p class="mb-0" style="color: black; font-size: 16px;">@job.freelancer_Jobs.Where(a => a.IsProposal == true).Count()</p>
                                            <p>Proposals</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-2 mr-1">
                                            <p class="mb-0" style="color: black; font-size: 16px;">0</p>
                                            <p>Proposals</p>
                                        </div>
                                    }
                                    @if (job.freelancer_Jobs.Where(a => a.IsHire == true).Count() > 0)
                                    {


                                        <div class="col-2 mr-1">
                                            <p class="mb-0" style="color: black; font-size: 16px;">@job.freelancer_Jobs.Where(a => a.IsHire == true).Count()</p>
                                            <p>Hired</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-2 ">
                                            <p class="mb-0" style="color: black; font-size: 16px;">0</p>
                                            <p>Hired</p>
                                        </div>
                                    }
                                    @*<div class="col-2 mr-1">
            <p class="mb-0" style="color: black; font-size: 16px;">0</p>
            <p>Proposals</p>
        </div>
        <div class="col-2 ">
            <p class="mb-0" style="color: black; font-size: 16px;">2</p>
            <p>Hired</p>
        </div>*@
                                    <div class="col-2 ">
                                        @*<p class="mb-0 " style="color: black; font-size: 16px;">0</p>
            <p>Messaged</p>*@
                                    </div>

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>


    </div>
</div>
