@model Upwork.Models.DbModels.Jobs

@{
    ViewData["Title"] = "Steps";
    Layout = "_PostJobStepsLayout";
}
@section Style2{ 
<style>
    .checkround {
        position: absolute;
        top: 5px;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border-color: lightgrey;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        right: 5px;
    }
</style>
}
<div>
    @section leftSide{
        <div id="budget">
            <div style="padding-top: 85px;">
                <h1 class="mb-3">Tell us about your budget.</h1>
                <p class="mb-4">This will help us match you to talent within your range.</p>
            </div>
        </div>
    }
    @section TopLeftSide{
        <h1 class="mb-3">Tell us about your budget.</h1>
    }
    @section RightSide{
        <form id="JobBudget" method="post" asp-action="PostJobBudget">
            <input type="hidden" asp-for="Id" id="jobId"/>
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="container-fluid align-content-center p-0">
                        <div class="row m-0">
                            <div class="col-12 p-0">
                                <div>
                                    <div class="radio-group">
                                        <div class="row m-0">
                                            <div class='col-6 p-0 pr-4'>
                                                <div class='card text-center radio radioBox p-0 w-100 selected' data-value="hourlyRate">
                                                    <label for="hourlyRate" class="w-100 p-3 m-0">
                                                        <div class="card-body radioBody p-0">
                                                            <div class="text-right">
                                                                <input type="radio" id="hourlyRate" name="TypeOfBudget" asp-for="TypeOfBudget" checked value="false" required/>
                                                                <span class="checkround"></span>
                                                            </div>
                                                            <i class="fa fa-clock-o mb-3" aria-hidden="true"></i>
                                                            <h6 class="card-title mb-3">Hourly rate</h6>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class='col-6 p-0'>
                                                <div class='card text-center radio radioBox p-0 w-100' data-value="projectBudget">
                                                    <label for="projectBudget" class="w-100 p-3 m-0">
                                                        <div class="card-body radioBody p-0">
                                                            <div class="text-right">
                                                                <input type="radio" id="projectBudget" name="TypeOfBudget" asp-for="TypeOfBudget" value="true" required/>
                                                                <span class="checkround"></span>
                                                            </div>
                                                            <i class="fa fa-usd mb-3" aria-hidden="true" style="transform: rotate(45deg); background-color:black; color: white; padding: 2px;"></i>
                                                            <h6 class="card-title mb-3">Project budget</h6>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0 d-none" id="HourlyDiv">
                <div class="col-12 mt-3 pt-2 px-0">
                    <div class="row">
                        <div class="col">
                            <p class="my-1">From</p>
                            <div>
                                <div class="d-inline">
                                    <div class="form-group has-search d-inline">
                                        <span class="form-control-feedback text-dark"><strong>$</strong></span>
                                        @if (Model.TypeOfBudget == false)
                                        {
                                        <input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" name="BudgetFrom" asp-for="BudgetFrom" id="BudgetFromHourly" min="0" required value="@Model.BudgetFrom">
                                        }
                                        else {<input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" name="BudgetFrom" asp-for="BudgetFrom" id="BudgetFromHourly" min="0" required > }
                                    </div>
                                </div>
                                <span class="d-inline" aria-hidden="true">/hour</span>
                            </div>
                        </div>
                        <div class="col">
                            <p class="my-1">To</p>
                            <div>
                                <div class="d-inline">
                                    <div class="form-group has-search d-inline">
                                        <span class="form-control-feedback text-dark"><strong>$</strong></span>
                                        @if (Model.TypeOfBudget == false) { 
                                            <input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" name="BudgetTo" asp-for="BudgetTo" id="BudgetToHourly" min="0" required value="@Model.BudgetTo">
            }
            else { <input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" name="BudgetTo" asp-for="BudgetTo" id="BudgetToHourly" min="0" required >}
                                    </div>
                                </div>
                                <span class="d-inline" aria-hidden="true">/hour</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <small class="text-muted">This is the average rate for similar projects.</small>
                    </div>
                </div>
                <div class="mt-3 pt-2">
                    <p class="mb-3">
                        <span class="text-muted">
                            Professionals tend to charge <strong class="text-dark">$12&nbsp;-&nbsp;$26</strong>/hour (USD) for ux/ui design projects like yours. Experts may charge higher rates.
                        </span>
                    </p>
                    <img src="~/Images/Screenshot (532).png" class="w-100">
                </div>
            </div>
            <div class="row m-0 d-none" id="projectDiv">
                <div class="col-12  mt-4 pt-4 px-0">
                    <p class="mb-2">Maximum project budget (USD)</p>
                    <div class="col-6 p-0">
                        <div class="d-inline">
                            <div class="form-group has-search d-inline">
                                <span class="form-control-feedback text-dark"><strong>$</strong></span>
                                @if (Model.TypeOfBudget == true)
                                {
                                    <input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" id="projectBudgetFrom" asp-for="BudgetFrom" min="0" value="@Model.BudgetFrom">
                                }
                                else
                                {
                                    <input type="number" class="form-control-dolars d-inline pt-2 pr-3 pb-2 pl-5" id="projectBudgetFrom" asp-for="BudgetFrom" min="0">
                                }
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-4">
                        You will have the option to create milestones which divide your project
                        into manageable phases.
                    </p>
                </div>
            </div>
        </form>
    }
</div>
@section Scripts2 {
    <script>
        //const { Modal } = require("bootstrap");

        $("#prorBar").children()[0].setAttribute("aria-valuenow", "100");
        $("#prorBar").children()[0].classList.add("w-100");
        $("#progressTop").children()[0].setAttribute("aria-valuenow", "100");
        $("#progressTop").children()[0].classList.add("w-100");
        $("#stepNumber").text("4 0f 4");
        $("#progressTitle").css("color", " #95df00");
        $("#progressSkills").css("color", " #95df00");
        $("#progressScope").css("color", " #95df00");
        $("#progressBudget").css("color", " #95df00");
        $("#NextStep").text("Review Job Post");
        var id = $("#jobId").val();
        $("#PrevStep").attr("href", "/Client/PostJobScope/" + id);
        $("#continue").children()[0].classList.add('continueBtnEnable');
        $("#continue").children()[0].classList.remove('continueBtn');

        for (var b = 0; b < $("input[name=TypeOfBudget]").length; b++) {
            if ($("input[name=TypeOfBudget]")[b].checked == true) {
                for (var c = 0; c < $('input[name=TypeOfBudget]')[b].parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.children.length; c++) {
                    $('input[name=TypeOfBudget]')[b].parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.children[c].children[0].classList.remove('selected');
                }
                $('input[name=TypeOfBudget]')[b].parentElement.parentElement.parentElement.parentElement.classList.add('selected');
            }
        }

        if ($("#hourlyRate").parent().parent().parent().parent().hasClass("selected") == true) {
            $("#HourlyDiv").removeClass("d-none");
            $("#HourlyDiv").addClass("d-block");
        }

        if ($("#projectBudget").parent().parent().parent().parent().hasClass("selected") == true) {
            $("#HourlyDiv").addClass("d-none");
            $("#HourlyDiv").removeClass("d-block");
            $("#projectDiv").removeClass("d-none");
            $("#projectDiv").addClass("d-block");
        }
        /*for (var b = 0; b < $("input[name=TypeOfBudget]").length; b++) {
            if ($("input[name=TypeOfBudget]")[b].checked == true) {

            }
        }*/
        @*var budget = @Model.TypeOfBudget.GetValueOrDefault;
        console.log(@Model.TypeOfBudget.GetValueOrDefault, @Model.BudgetFrom.GetValueOrDefault, @Model.BudgetFrom.GetValueOrDefault);
        if (budget != null) {
            if (budget == false) {
                $("#BudgetToHourly").val(@Model.BudgetTo.GetValueOrDefault);
                $("#BudgetFromHourly").val(@Model.BudgetFrom.GetValueOrDefault);
            } else if (budget == true) {
                $("#projectBudgetFrom").val(@Model.BudgetFrom.GetValueOrDefault);
            }
        }*@
        $('.radio-group .row .radioBox').click(function () {
            console.log($(this))
            //console.log($(this)[0].children[0].children[0].children[0])
            //$(this)[0].children[0].children[0].children[0].checked=true;
            $(this).parent().parent().find('.radioBox').removeClass('selected');
            $(this).addClass('selected');
            var val = $(this).attr('data-value');
            if ($("#hourlyRate").parent().parent().parent().parent().hasClass("selected") == true) {
                $("#HourlyDiv").removeClass("d-none");
                $("#HourlyDiv").addClass("d-block");
                $("#projectDiv").removeClass("d-block");
                $("#projectDiv").addClass("d-none");
                $("#BudgetToHourly").attr("name", "BudgetTo");
                $("#BudgetToHourly").attr("required", "true");
                $("#BudgetFromHourly").attr("name", "BudgetFrom");
                $("#BudgetFromHourly").attr("required", "true");
                $("#projectBudgetFrom").removeAttr("name");
                $("#projectBudgetFrom").removeAttr("required");
            } else if ($("#projectBudget").parent().parent().parent().parent().hasClass("selected") == true) {
                $("#HourlyDiv").addClass("d-none");
                $("#HourlyDiv").removeClass("d-block");
                $("#projectDiv").addClass("d-block");
                $("#projectDiv").removeClass("d-none");
                $("#projectBudgetFrom").attr("name", "BudgetFrom");
                $("#projectBudgetFrom").attr("required", "true");
                $("#BudgetFromHourly").removeAttr("name");
                $("#BudgetFromHourly").removeAttr("required");
                $("#BudgetToHourly").removeAttr("name");
                $("#BudgetToHourly").removeAttr("required");
            }
        });
        $("#continue").on('click', '#NextStep', function () {
            $("#JobBudget").append("<button type='submit' id='go' class='d-none'></button>");
            $("#go").click();
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

