@model Project
@{ ViewData["Title"] = "Project Details";
    Layout = "_ClientLayout"; }
@section Style{
    <link href="~/css/ProjectDetails.css" rel="stylesheet" />
}

<div class="text-center bg-white m-0 p-0 border-bottom mb-3" id="Page">
    <div class="container">
        <div class="row m-1 p-0">
            <div class="col-6 mt-5 text-left">
            </div>
            <div class="col-6 mt-5 text-right">
                <div class="mr-3">
                    <a href="#" style="color: #14a800; font-weight: 500;font-size: 19px;">
                        <i class="fa fa-heart-o 2x mr-1"></i>Save
                    </a>
                </div>
            </div>
        </div>
        <div class="row m-1 p-0">
            <div class="col-8 mt-2">
                <div class="row m-0">
                    <h3 class="mx-0 mt-0 p-0" style="color: #1d4354; font:  bold 28px Rza;">
                        @Model.Title
                    </h3>
                </div>
                <div class="row m-0 my-3">
                    <div class="col-8 m-0 p-0 mt-1" style="display:-webkit-box; -webkit-box-align:center; ">
                        <img src="~/Images/@Model.Freelancer.Image" class="imgContainer mr-1" />
                        <a href="#" style="color: #14a800; font-weight: 500;font-size: 16px;">@Model.Freelancer.User.FirstName 
                        @Model.Freelancer.User.LastName</a>

                    </div>


                    <div class="col-4 toProfile text-right mr-0"
                         style="display:-webkit-box; -webkit-box-align:center; ">
                        <a href="" style="color: #14a800; font-weight: 500;font-size: 16px;">
                            <i class="fa fa-eye mx-2 "
                               aria-hidden="true"></i>
                            View Profile
                        </a>
                    </div>
                </div>
                <div class="row m-0 mb-2">
                    <div class="project-photo">
                        <img src="~/Images/@Model.Image"  alt="project photo" width="100%" style="border-radius: 10px;">
                    </div>
                </div>
                <div class="row m-0 mt-5 mb-3 border-bottom text-left">
                    <h4 class="mb-4">
                        @Model.Description
                    </h4>
                    <ul class="text-left" style="font-weight: 380;">
                        <li class="mb-3" style="list-style-type:disc">
                            <b>Requierments:</b> @Model.Requierments
                        </li>
                        <li class="mb-3" style="list-style-type:disc">
                            <b>Subcatogray:</b> @Model.SubCategory.Name<br />
                            <b>Skills:</b> <ul class="text-left" style="font-weight: 380;">
                                @foreach (var item in Model.Skills)
                                {
                                    <li>@item.Skill</li>
                                }
                            </ul>
                        </li>
                        <li class="mb-3" style="list-style-type:disc">
                            <b> Question</b>: @Model.QuestionContent<br />
                            <b>Answer</b>: @Model.QuestionAnswer
                        </li>
                        <li class="mb-3" style="list-style-type:disc">
                            <b>StepName:</b> @Model.StepName<br />
                            <b>StepDescription:</b> @Model.StepDescription
                        </li>
                        <li class="mb-3" style="list-style-type:disc">
                            <b>SimultaneousProjects:</b> @Model.SimultaneousProjects
                        </li>
                    </ul>
                </div>
                <div class="row my-3 mx-0 p-0 ">
                    <div class="col-11 mb-2 mx-0 text-left">
                        <h3>
                            About @Model.Freelancer.User.FirstName  @Model.Freelancer.User.LastName
                        </h3>
                    </div>
                    <div class="row" style="display:-webkit-box; -webkit-box-align:center; ">
                        <div class="m-0 p-0">
                            <img src="~/Images/@Model.Freelancer.Image" class="Freelancer-photo my-auto" />
                        </div>
                        <div class="ml-1 text-left">
                            <h5 class="mb-3"> </h5>
                            <i class="fa fa-map-marker  Address-time" aria-hidden="true" style="color: #656565;"></i>
                            <p class="Address-time my-auto" style="display: inline-block;">
                              @Model.Freelancer.City.Name
                            </p>
                            <p class="Address-time my-auto" style="display: inline-block;">
                                – 4:56 am local time
                            </p>
                        </div>
                    </div>
                    <div class="row m-0 p-0 my-3">
                        <p class="freelancerDetails text-left">
                            @foreach (var item in Model.Freelancer.Experiences)
                            {
                                <p>@item.Description, @item.JobTitle, @item.Country, @item.Company</p>

                            }
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-4 mt-3" style="position:relative">
                <div class="row border" style="position:absolute">
                    <div class="col-12 m-1 my-4 p-0 text-left">
                        <h5 class="ml-3" style="color: #08141a;">
                            Select service tier
                        </h5>
                    </div>


                    <div class="col-12 m-0 p-0 my-2">
                        <form method="post" class="row" action="send.php">
                            <div class="radio-group col-12 mx-0 p-0 my-2">
                                <div class="row border-bottom m-1 p-1 px-1">
                                    <div class="col-4 m-0 p-0">
                                        <div class="container pl-0 ml-0">
                                            <div class="radioBox">
                                                <label for="StarterInput">
                                                    <div class="radioBody p-2 mb-0 text-center">
                                                        <div class="text-center mx-auto mb-0">
                                                            <input class="mx-auto" type="radio" id="StarterInput" name="Expertise-Level" checked />
                                                            <span class="checkround mx-auto"></span>

                                                            <p class="mt-4 mb-0 pl-3" style="font-size: 16px;">Starter</p>
                                                            <p class="mt-0 pl-3" style="font-size: 18px;"> $@Model.StarterPrice</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4 m-0 p-0">
                                        <div class="container pl-0 ml-0">
                                            <div class="radioBox">
                                                <label for="StandardInput">
                                                    <div class="radioBody p-2 mb-0 text-center">
                                                        <div class="text-center mb-0">
                                                            <input class="" type="radio" id="StandardInput" name="Expertise-Level" />
                                                            <span class="checkround "></span>

                                                            <p class="mt-4 mb-0 ml-3 " style="font-size: 16px;">Standard</p>
                                                            <p class="mt-0 ml-3" style="font-size: 18px;"> $@Model.StandardPrice</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4 m-0 p-0">
                                        <div class="container pl-0 pr-4 ml-0">
                                            <div class="radioBox pr-4">
                                                <label for="AdvancedInput">
                                                    <div class="radioBody p-2 mb-0 text-center">
                                                        <div class="text-center mb-0">
                                                            <input class="" type="radio" id="AdvancedInput" name="Expertise-Level" />
                                                            <span class="checkround "></span>
                                                            <p class="mt-4 mb-0 ml-3 " style="font-size: 16px;">Advanced</p>
                                                            <p class="mt-0 ml-3" style="font-size: 18px;"> $@Model.AdvancedPrice</p>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>

                    <div class="col-12 m-0 p-0 my-2" id="starter">
                        <div class="row m-1 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">
                                    Delivery Time
                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">
                                    @Model.StarterDeliverDays (Days)
                                </p>
                            </div>
                        </div>
                        <div class="row m-1 mt-0 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">
                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 m-0 p-0 my-2 d-none" id="standard">
                        <div class="row m-1 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">
                                    Delivery Time
                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">
                                    @Model.StandardDeliverDays (Days)
                                </p>
                            </div>
                        </div>
                        <div class="row m-1 mt-0 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">
                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 m-0 p-0 my-2 d-none" id="advanced">
                        <div class="row m-1 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">
                                    Delivery Time
                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">
                                    @Model.AdvancedDeliverDays (Days)
                                </p>
                            </div>
                        </div>
                        <div class="row m-1 mt-0 p-0">
                            <div class="col-7 text-left">
                                <p style="font-weight: 400;">

                                </p>
                            </div>
                            <div class="col-4 text-right">
                                <p style="font-weight: 500;">

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row mx-2 my-4 p-0">
                            <div class="col-11 mx-auto">
                                <a href="" class="btn  w-100" style="font-weight: 500; border-radius: 20px; background-color: #14a800;color: white;">
                                    Continue <span id="price">   </span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script>

        $(".radio-group .row .col-4 .container .radioBox").click(function () {
            console.log($(this).children()[0].firstElementChild.firstElementChild.firstElementChild.nextElementSibling.nextElementSibling.textContent);
            let selected = $(this).children()[0].firstElementChild.firstElementChild.firstElementChild.nextElementSibling.nextElementSibling.textContent;
            let price = $(this).children()[0].firstElementChild.firstElementChild.firstElementChild.nextElementSibling.nextElementSibling.nextElementSibling.textContent;
            $("#price").text(price);
            if (selected == "Starter") {
                console.log("starter");
                $("#standard").addClass("d-none");
                $("#advanced").addClass("d-none");
                $("#starter").removeClass("d-none");
            }
            if (selected == "Standard") {
                $("#starter").addClass("d-none");
                $("#advanced").addClass("d-none");
                $("#standard").removeClass("d-none");
            }
            if (selected == "Advanced") {
                $("#standard").addClass("d-none");
                $("#starter").addClass("d-none");
                $("#advanced").removeClass("d-none");
            }
           
        });


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
