@model IEnumerable<Upwork.Models.MessageModels.Message>
@{
    ViewData["Title"] = "Home Page";
    var UserName = User.Identity.Name;
}

<head>
    <link rel="stylesheet" href="~/css/Message.css" />
</head>
<div class="container">
    <div class="row">
        <div class="col-3">
        <div id="plist" class="people-list">
            <ul class="list-unstyled chat-list mt-2 mb-0">
                @foreach (var item in ViewBag.ListPeopel)
                {


                <li class="clearfix">
                    <a asp-action="Index" asp-controller="Message" asp-route-Id="@item.Id">
                        @if (item.Image != null)
                        {
                            <img src="~/ProfilePhotos/@item.Image" alt="avatar">
                        }
                        else
                        {
                            <img src="~/ProfilePhotos/default.jpg" alt="avatar">
                        }
                        <div class="about">
                            <div class="name">@item.FirstName @item.LastName</div>
                            <div class="status"> <i class="fa fa-circle offline"></i> </div>
                        </div>
                    </a>
                </li>
                }
            </ul>
        </div>
         </div>
            <div class="jumbotron bg-light col-9">
                <div class="row">
                    <div class="col-lg-12 chat-about">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                            @if (ViewBag.Reciver.Image != null)
                            {
                                <img id="img" src="~/ProfilePhotos/@ViewBag.Reciver.Image" alt="avatar">
                            }
                            else
                            {
                                <img id="img" src="~/ProfilePhotos/default.jpg" alt="avatar">
                            }
                        </a>
                        <div>
                            <h6 class="m-b-0">@ViewBag.Reciver.FirstName @ViewBag.Reciver.LastName</h6>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 " id="chat">
                        @if (Model != null)
                        {
                            @foreach (var message in Model.OrderBy(m => m.When))
                            {
                                String containerClass, timePsition, textAlingn, contcolor, offset;
                                if (UserName == message.UserName)
                                {
                                    containerClass = "container darker";
                                    timePsition = "time-right text-light";
                                    textAlingn = "text-right text-white";
                                    contcolor = "#14a800";
                                    offset = "col-md-6 offset-md-6";
                                }
                                else
                                {
                                    containerClass = "container";
                                    timePsition = "text-left";
                                    textAlingn = "text-left";
                                    contcolor = "bg-light";
                                    offset = "col-md-6";
                                }
                                <div class="row">
                                    <div class="@offset">
                                        <div class="@containerClass @contcolor">
                                            <p class="@textAlingn">@message.Text</p>
                                            <span class="@timePsition">@message.When</span>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                    <div class="col-md-12">
                        <form asp-action="Create" data-ajax-begin="clearInputField" data-ajax-complete=""
                              data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                              data-ajax="true" data-ajax-method="POST">
                            <div asp-validation-summary="ModelOnly" class="bg-danger"></div>
                            <div class="form-group">
                                <input name="Text" class="form-control" id="messageText" />
                            </div>
                            <div class="form-group offset-5">
                                <input type="submit" value="Send" class="send col-3 " id="submitButton" />
                            </div>
                            <input id="UserName" hidden value="@UserName" />
                            <input id="ReceiverId" name="ReceiverId" value="@ViewBag.Reciver.Id" hidden />
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
        const userName = "@ViewBag.CurrentUserName";
        </script>
    }
    @section Scripts{
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/js/chat.js"></script>
        <script src="~/js/signalrReqHandler.js"></script>
    }
